<!-- <h1>Componente Mís décimos</h1> -->
<div class="alert alert-danger" ng-if="vm.error">
    <span>{{vm.error}}</span>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div >
            <div ng-repeat="decimo in vm.decimos track by $index" >
                <decimo inputdata="decimo"></decimo>
            </div>
        </div>
    </div>
</div>

<div>Todavía no has introducido información de ningún número de lotería.</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <a class="btn btn-block btn-success" ui-sref="adminmisdecimos">Administrar mis números</a>
    </div>
</div>


<!-- <p ng-repeat="decimo in vm.decimos">
    {{decimo.numero}}
</p> -->