/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


.row{
  padding-top:0px;
  margin-top:0px;
  padding-bottom:0px;
  margin-bottom:0px;
}
hr{
  border-top:1px solid rgb(2, 10, 121);
  margin-left:45px;
  margin-right:45px;
}
h1{ 
  margin-top:0px;
  font-size:20px;
}

.jumbotron{
  background:linear-gradient(to bottom,#feefc6,#fff);
}
.panel .panel-heading{
  background:#feefc6;
  background: linear-gradient(to bottom,#feefc6,#fff);
}
.alert.alert-info{
  background:#feefc6;
  background: linear-gradient(to top,#feefc6,#fff);
  border:none;
}

.btn.btn-primary{
  background:#feefc6;
  background: linear-gradient(to bottom,#feefc6,#fff);
  border-color:#feefc6;
  color:#31708f;
}

.label.label-primary{
  background:#feefc6;
  /* background: linear-gradient(to bottom,#feefc6,#fff); */
  border-color:#feefc6;
  color:#31708f;
}

.navbar-default{
  background: #be911c;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
  color:#feefc6;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  color: #feefc6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background:#feefc6;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-togle.collapsed:hover{
  background-color:#feefc6;
}

/*Hasta aquí la personalización de bootstrap*/


.premionivel1{
  font-size:30px;
}
.premionivel2{
  font-size:30px;
}
.premionivel3{
  font-size:30px;
}
.premionivel4{
  font-size:20px;
}
.premionivel5{
  font-size:20px;
}


.infodecimo{
  margin:0px;
}
.decimo{
  position:relative;
}

.numerojugado{
  margin:0px;
  padding:0px;
  position:absolute;
  bottom:65%;
  left:33%;
  width:45%;
  font-size:30px;
  font-weight: bolder;
  /* border:solid thin red; */
  text-align:center;
}

.importejugado{
  margin:0px;
  padding:0px;
  position:absolute;
  bottom:27%;
  left:81%;
  width:15%;
  font-size:20px;
  font-weight: bolder;
  /* border:solid thin red;  */
  text-align:center;
}

.premiojugado{
  background-color:rgb(83, 67, 221);
  color:white;
  opacity:1;
  margin:0px;
  padding:0px;
  position:absolute;
  bottom:35%;
  left:33%;
  width:45%;
  font-size:20px;
  font-weight: bolder;
  /* border:solid thin red; */
  text-align:center;
}
.botoncomprobarpremio{
  /* border:solid thin red;  */
  border:none thin transparent;
  background-color:transparent ;
  position:absolute;
  height:100px;
  width:90px;
  bottom:30%;
  left:3%;
}
.loading{
  background:#fff !important;
  opacity: 0.5 !important;
  /*border:solid thin red;*/
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;  
  right:0;
  padding:0px;
  margin:0px;
}


ol.carousel-indicators{
  bottom:-40px;
}
ol.carousel-indicators li{
  border: 1px solid #05719B;
}
ol.carousel-indicators li.active{
  background-color:#05719B;
}

.carousel-control.left , .carousel-control.right{
  background:none;
}

.carousel-control{
  background-color:#05719B;
  color:#05719B;
  bottom:-382px;
}