<div class="premionivel{{$ctrl.nivel}}"><span class="label" ng-class="{'label-primary':$ctrl.numero>=0, 'label-default':$ctrl.numero<0}">{{$ctrl.numero | premioprincipal}}</span></div>
        
<!-- <h1 ng-if="$ctrl.nivel==1" class="premio">
    <div>Primero</div>
    
</h1>
<h2 ng-if="$ctrl.nivel==2"  class="premio">
        <div>Segundo</div>
    <span class="label label-success">
        {{$ctrl.numero | premioprincipal}}</span>
</h2>
<h3 ng-if="$ctrl.nivel==3"  class="premio">
        <div>Tercero</div>
    <span class="label label-success">
        {{$ctrl.numero | premioprincipal}}</span>
</h3>
<h4 ng-if="$ctrl.nivel==4"  class="premio">
        <div>Cuarto</div>
    <span class="label label-success">
        {{$ctrl.numero | premioprincipal}}</span>
</h4>
<h5 ng-if="$ctrl.nivel==5"  class="premio">
        <div>Quinto</div>
    <span class="label label-success">
        {{$ctrl.numero | premioprincipal}}</span>
</h5> -->