
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <button class="btn btn-block btn-success" ng-click="vm.$state.go('login')" >Entrar</button>
      <button class="btn btn-block btn-success" ng-click="vm.$state.go('premios')">Premios principales</button>
      <button class="btn btn-block btn-success">Mis números</button>
      <button class="btn btn-block btn-success" ng-click="vm.desconectar()">Desconectar</button>
    </div>
  </div>
</div>
