
<div class="jumbotron" ng-if="!vm.principal.isAuthenticated()">
  <h1 class="center">Navidad 2017</h1>
  <p>En esta aplicación podrás comprobar los premios principales del sorteo de Navidad 2017.</p>
  <p><a ui-sref="registro">Regístrate</a> o haz <a ui-sref="login">login</a> para poder añadir tus números y comprobarlos en directo durante al sorteo</p>
</div>
<div class="jumbotron" ng-if="vm.principal.isAuthenticated()">
  <h1 class="center">Navidad 2017</h1>
  <p>Hola {{vm.principal.getUsername()}}. En esta aplicación podrás comprobar los <a ui-sref="premios">premios principales</a> del sorteo de Navidad 2017.</p>
  <p>También puedes <a ui-sref="adminmisdecimos">guardar los números que juegas </a> para poder <a ui-sref="misdecimos">comprobarlos en directo</a> el día del sorteo</p>
</div>
