<div class="form-group has-feedback" ng-class="{'has-error':vm.ngModel.$invalid && vm.ngModel.$dirty,'has-success':!vm.ngModel.$invalid && vm.ngModel.$dirty}">
    <input id="{{vm.name}}" placeholder="{{vm.label}}" class="form-control" name="{{vm.name}}" type="{{vm.type}}" ng-model="vm.value"
        ng-change="vm.internalchange()" ng-required="vm.required" ng-disabled="vm.disabled" autocomplete="off" step="any" ng-model-options="{ allowInvalid: true, debounce: 200 }"
    />
    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" ng-show="vm.ngModel.$invalid && vm.ngModel.$dirty"></span>
    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="vm.ngModel.$valid && vm.fngModel.$dirty"></span>
    <div role="alert">
        <span class="text-danger" ng-show="vm.form[vm.name].$error.required && vm.form[vm.name].$dirty">El campo {{vm.label}} es obligatorio</span>
        <span class="text-danger" ng-show="vm.ngModel.$error.maxlength && vm.form[vm.name].$dirty">El campo {{vm.label}} no puede tener más de {{vm.maxlength}} caracteres</span>
        <span class="text-danger" ng-show="vm.ngModel.$error.minlength && vm.form[vm.name].$dirty">El campo {{vm.label}} no puede tener menos de {{vm.minlength}} caracteres</span>
        <span class="text-danger" ng-show="vm.ngModel.$error.regex && vm.form[vm.name].$dirty">El campo {{vm.label}} no tiene el formato correcto</span>
        <span class="text-danger" ng-show="vm.ngModel.$error.minimo && vm.form[vm.name].$dirty">El campo {{vm.label}} debe der mayor de {{vm.min}}</span>
        <span class="text-danger" ng-show="vm.ngModel.$error.maximo && vm.form[vm.name].$dirty">El campo {{vm.label}} debe der menor de {{vm.max}}</span>
        <span class="text-danger" ng-show="vm.form[vm.name].$error.email && vm.form[vm.name].$dirty">El campo {{vm.label}} no es una dirección de mail válida</span>
        <span class="text-danger" ng-show="vm.form[vm.name].$error.number && vm.ngModel.$dirty" ng-if="vm.type=='number'">El campo {{vm.label}} debe ser numérico</span>
        <span class="text-danger" ng-show="vm.ngModel.$error.integer && vm.ngModel.$dirty" ng-if="vm.type=='number'">El campo {{vm.label}} debe ser numérico</span>
    </div>
</div>


<!--<p>Requerido por ngmodel:{{!!vm.ngModel.$error.required}}</p>
<p>Requerido por form:{{!!vm.form[vm.name].$error.required}}</p>-->
<!-- {{vm.ngModel}}
<hr/>
{{vm.value}} -->