<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!(vm.decimo && vm.decimo._id)">Nuevo décimo</h2>
        <h2 ng-if="vm.decimo && vm.decimo._id">Modificar décimo</h2>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" ng-show="vm.error">
            <span>{{vm.error}}</span>
        </div>        
        <div class="alert alert-success" ng-show="vm.info">
            <span>{{vm.info}}</span>
        </div>
        <div ng-form="vm.frmdetalle">
            <campo-formulario label="Número" name="numero" required="true" type="number" integer="true" ng-model="vm.decimo.numero" min="0"
                max="99999" />
            <campo-formulario label="Importe" name="importe" required="true" type="number" ng-model="vm.decimo.importe" min="0" max="1000"
            />
            <campo-formulario label="Descripción" name="descripcion" type="text"  maxlength="50" ng-model="vm.decimo.descripcion"
            />
        </div>
        <div>
            <button class="btn btn-default" ng-click="vm.cancelar()">Cancelar</button>
            <button class="btn btn-default" ng-click="vm.guardar()" ng-disabled="!vm.frmdetalle.$valid">Guardar</button>
        </div>
    </div>
</div>
{{vm.decimo | json}} {{!!frmdetalle.$valid}}