<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!(vm.decimo && vm.decimo._id)">Nuevo décimo</h2>
        <h2 ng-if="vm.decimo && vm.decimo._id">Modificar décimo</h2>
    </div>
    <div class="panel-body">
        <mensajes></mensajes>
        <div ng-form="vm.frmdetalle">
            <campo-formulario label="Número" name="numero" required="true" type="number" integer="true" ng-model="vm.decimo.numero" min="0"
                max="99999"></campo-formulario>
            <campo-formulario label="Importe" name="importe" required="true" type="number" ng-model="vm.decimo.importe" min="0" max="1000"></campo-formulario>
            <campo-formulario label="Descripción" name="descripcion" type="text" maxlength="50" ng-model="vm.decimo.descripcion"></campo-formulario>
        </div>
        <div class="button-group">
            <button class="btn btn-primary " ng-click="vm.cancelar()">Cancelar</button>
            <button class="btn btn-primary " ng-click="vm.guardar()" ng-disabled="!vm.frmdetalle.$valid">Guardar</button>
        </div>
    </div>
</div>