<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Lotería</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ng-if="vm.principal.isAuthenticated()" ui-sref="premios" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >Premios                        
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="vm.principal.isAuthenticated()" ui-sref="misdecimos" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Mis décimos</a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="vm.principal.isAuthenticated()" ui-sref="adminmisdecimos" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Administrar mis décimos</a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="!vm.principal.isAuthenticated()" ui-sref="login" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Login</a>
                </li>
                <li ui-sref-active="active">
                    <a ng-if="!vm.principal.isAuthenticated()" ui-sref="registro" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Registrarse</a>
                </li>
                <li ng-if="vm.principal.isAuthenticated()"><a ng-click="vm.salir()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Desconectar</a></li>

            </ul>
        </div>
    </div>
</nav>

