<div class="row vertical-center">
    <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Registro</h4>
            </div>
            <div class="panel-body">
                <!-- <div bs-loading-overlay></div> -->
                <ng-form name="formulario">
                    <div class="alert alert-danger" ng-if="vm.error">
                        <span>{{vm.error}}</span>
                    </div>
                    <div class="alert alert-success" ng-if="vm.success">
                            <span>{{vm.success}}</span>
                        </div>
                    <div class="form-group">
                        <input type="text" class="form-control center-block" name="usuario" ng-model="vm.usuario" placeholder="Usuario"
                            required autocomplete="off"/>
                        <div role="alert">
                            <span class="error" ng-show="formulario.usuario.$error.required && formulario.usuario.$dirty">El campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control center-block" ng-model="vm.password" name="password" placeholder="password"
                            required autocomplete="off" />
                        <div role="alert">
                            <span class="error" ng-show="formulario.password.$error.required && formulario.password.$dirty">El campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary center-block" ng-click="vm.registrar()" ng-disabled="!formulario.$valid">Registrarme</button>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>