<div class="row vertical-center">
    <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Registro</h4>
            </div>
            <div class="panel-body">
                    <mensajes></mensajes>
                <!-- <div bs-loading-overlay></div> -->
                <ng-form name="formulario">
                    <campo-formulario label="Usuario" name="usuario" required="true" type="text" ng-model="vm.usuario" />
                    <campo-formulario label="Password" name="password" required="true" type="password" ng-model="vm.password" />
                    <div class="form-group">
                        <button class="btn btn-primary center-block" ng-click="vm.registrar()" ng-disabled="!formulario.$valid">Registrarme</button>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>