<div class="row vertical-center">
    <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Login</h4>
            </div>
            <div class="panel-body">
                <!-- <div bs-loading-overlay></div> -->
                <ng-form name="loginform">
                    <div class="alert alert-warning" ng-show="vm.loginincorrecto && vm.codigohttp==401">
                        <span>Login incorrecto</span>
                    </div>
                    <div class="alert alert-warning" ng-show="vm.loginincorrecto && vm.codigohttp==-1">
                        <span>Servicio de login no disponible</span>
                    </div>
                    <div class="alert alert-warning" ng-show="vm.loginincorrecto && vm.codigohttp!=-1 && vm.codigohttp!=401">
                        <span>Error</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control center-block" name="usuario" ng-model="vm.usuario" placeholder="Usuario"
                            required/>
                        <div role="alert">
                            <span class="error" ng-show="loginform.usuario.$error.required && loginform.usuario.$dirty">Requerido</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control center-block" ng-model="vm.password" name="password" placeholder="password"
                            required />
                        <div role="alert">
                            <span class="error" ng-show="loginform.password.$error.required && loginform.password.$dirty">requerido</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary center-block" ng-click="vm.dologin()" ng-disabled="!loginform.$valid">Entrar</button>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>