<div class="row vertical-center">
    <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Login</h4>
            </div>
            <div class="panel-body">
                <ng-form name="loginform">
                    <mensajes></mensajes>
                    
                        <campo-formulario label="Usuario" name="usuario" required="true" type="text"  ng-model="vm.usuario" />
                        <campo-formulario label="Password" name="password" required="true" type="password"  ng-model="vm.password" />
                        <!-- <input type="text" class="form-control center-block" name="usuario" ng-model="vm.usuario" placeholder="Usuario" required
                            autocomplete="off" />
                        <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" ng-if="loginform.usuario.$invalid && loginform.usuario.$dirty"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="!loginform.usuario.$invalid && loginform.usuario.$dirty"></span>
                        <div role="alert">
                            <span class="text-danger" ng-show="loginform.usuario.$error.required && loginform.usuario.$dirty">El campo es obligatorio</span>
                        </div> -->
                    
                    <!-- <div class="form-group has-feedback">
                        <input type="password" class="form-control center-block" ng-model="vm.password" name="password" placeholder="password" required
                            autocomplete="off" />
                        <div role="alert">
                            <span class="text-danger" ng-show="loginform.password.$error.required && loginform.password.$dirty">El campo es obligatorio</span>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <button class="btn btn-primary center-block" ng-click="vm.dologin()" ng-disabled="!loginform.$valid">Entrar</button>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>